 <div class="welcome-section">
    <h1 id="demo"></h1>
    <h2>Welcome to a simple weather app!</h2>
    <p>Please insert a city above and hit the Get Weather button</p>
</div>

<script src="/public/scripts/getGeolocation.js"></script>