<div class="welcome-section">
    <div class="weather-onload">
        <p class="current-city-text"></p>
        <p class="city"></p>
        <p class="temperature temp"></p>
        <p class="description"></p>
    </div>
    <h2>Welcome to a simple weather app!</h2>
    <p>Please insert a city above and hit the Get Weather button</p>

</div>

<script src="/public/scripts/getWeatherOnLoad.js"></script>